body{
    background-image: url("../images/Background.jpg") ;
    background-size:100%;
}

#header{
    text-align:center;
    font-size: 50px;
    color:aliceblue;
    font-family:Audiowide;
}
#nav{
    height:50px;
    font-size: 40px ;
    text-align:center;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    padding-top: 25px;
    padding-bottom: 25px;
    background: darkcyan;
    
}
.nav-btn{
      background-color: cornflowerblue;
      border: 5px solid black;
    text-align:center;
    padding-left: 50px;
    padding-right: 50px;
    color:Black;
    font-family:Audiowide;
    
      
}
#content{
    text-align: center;
    font-size: 30px;
    color:aliceblue;
    font-family:Audiowide;
    
}
.character{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    color:aliceblue;
    font-family:Audiowide;
    
}
.title{
    font-size: 50px;
    text-align: center
}



.images{
    height: 100px;
    border: 3px solid darkcyan;
}
.info{
    font-size: 20px;
    color:aliceblue;
    font-family:Audiowide;
}